@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new machine to the factory</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Model)
  @Html.TextBoxFor(model => model.Model)

<input type="submit" value="Add New Machine" />}
<br>
<p>@Html.ActionLink("Show list of machines", "Index")</p>
