@{
  Layout = "_Layout";
}

@using Factory.Models;

<div class = "splash">
  <h1>Silly Stingz Factory</h1>
  <div class = "row">
    <div class="col col-sm-3">
      <ul><h2>Welcome To Our Engineer Page</h2>

    <p>@Html.ActionLink("Engineer List", "Index", "Engineers")</p>
    <p>@Html.ActionLink("Machine List", "Index", "Machines")</p>     
</div>
